/* @font-face {
    font-family: "Spoqa Han Sans Neo";
    src: url("../font/SpoqaHanSansNeo-Regular.otf");
} */

* {
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

/* body {
    padding-top: 102px;
} */

.header {
    background-color:#F2E9D8;
    height: 900px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .cont-wrap .title {
    font-size: 48px;
    font-weight: bold;
    line-height: 60px;
}
.header .cont-wrap .txt-wrap {
    margin: 40px 0;
    font-size: 16px;
    line-height: 20px;
}
.header .img-main {
    width: 415px;
    margin-top: 134px;
}

.first-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.first-section img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    margin-top: 80px;
    /* filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.25)); */
}
.first-section .txt-wrap .txt-tit {
    font-size: 32px;
    line-height: 45px;
    font-weight: bold;
}
.first-section .txt-wrap .txt-cont {
    font-size: 16px;
    line-height: 20px;
    margin-top: 30px;
}

.sec-section h4 {
    color: #D97652;
    font-size: 48px;
    font-weight: bold;
    line-height: 68px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 120px;
}
.sec-section span {
    color: #D97652;
}
.sec-section p {
    text-align: center;
    line-height: 20px;
}
.sec-section img {
    width: 378px;
}
.sec-section .img-wrap {
    text-align: center;
    margin-top: 88px;
}

.cont-3 {
    display: flex;
    justify-content: center;
    margin: 90px auto;
}
.cont-3 .txt-wrap {
    text-align: left;
    margin-right: 52px;
}

.subscribe {
    width: 1280px;
    height: 200px;
    background-color: #263140;
    border-radius: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribe .txt-wrap h3 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    line-height: 45px;
    /* text-align: center; */
}
.subscribe .txt-wrap p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
}
.subscribe .form-wrap {
    width: 530px;
    height: 60px;
    background-color: #FFFFFF;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .subscribe .form-wrap .input-wrap::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../src/images/mail.png");
    position: absolute;
    right: 0;
} */
.subscribe .form-wrap form {
    position: relative;
}
.subscribe .form-wrap form::after {
    content: "";
    width: 24px;
    height: 24px;
    background-image: url("../src/images/mail.png");
    display: block;
    position: absolute;
    left: 0;
}